In [1]:
import pandas as pd

df = pd.read_excel('nu-police-data-may2016.xlsx')
df.head()

,Case Number,Common Name:,Criminal Offense:,Date & Time: Occurred,Date & Time: Reported,Disposition:,Incident Type:,Location:
1,2016-00000686,Bienen Music School,All Disorderly Conduct,2016-05-01 13:56:00,2016-05-01 14:04:17,Closed,Disorderly Conduct,70 ARTS CIRCLE DR
2,2016-00000687,Allison Hall,All Disorderly Conduct,2016-05-01 17:13:00,2016-05-01 17:13:01,Closed,Suspicious Circumstances,1820 CHICAGO AVE
5,2016-00000690,Willard Hall,NaN,2016-04-28 22:30:00,2016-05-02 15:19:22,Closed,Lost & found prop,1865 SHERMAN AVE
8,2016-00000695,Pancoe,Theft $500 and Under,2016-05-03 11:00:00,2016-05-03 13:50:31,Closed,Theft,2200 CAMPUS DR
9,2016-00000699,Searle C/D,NaN,2016-05-03 22:32:00,2016-05-03 22:44:08,Closed,Public Service,2240 CAMPUS DR